<div id="footer">
	<div class="container">
		<div class="footer_listing clearfix">
			<div class="articles">
				<dl class="first">
					<dt><a href="article_cat-4.html">新手指南</a></dt>
					<dd><a href="article-12.html">注册与登陆</a></dd>
					<dd><a href="article-23.html">选购商品</a></dd>
					<dd><a href="article-26.html">红包介绍</a></dd>
				</dl>
				<dl>
					<dt><a href="article_cat-6.html">支付方式</a></dt>
						<dd><a href="article-13.html">支付宝</a></dd>
						<dd><a href="article-14.html">在线支付</a></dd>
						<dd><a href="article-15.html">货到付款</a></dd>
				</dl>
				<dl>
				<dt><a href="article_cat-7.html">配送方式</a></dt>
					<dd><a href="article-16.html">快递配送</a></dd>
						<dd><a href="article-17.html">EMS</a></dd>
						<dd><a href="article-18.html">上门自提</a></dd>
				</dl>
				<dl>
				<dt><a href="article_cat-8.html">售后保障</a></dt>
					<dd><a href="article-19.html">售后政策</a></dd>
					<dd><a href="article-24.html">特色服务</a></dd>
				</dl>
				<dl>
				<dt><a href="article_cat-5.html">快捷通道</a></dt>
					<dd><a href="article-8.html">快速注册</a></dd>
					<dd><a href="article-9.html">直接登陆</a></dd>
					<dd><a href="article-10.html">购物车</a></dd>
					<dd><a href="article-11.html">我的订单</a></dd>
				</dl>
			</div>
			<div class="contact">
				<h4>客服中心</h4>
					<p>E-mail：snpmail@foxmail.com</p>												
			</div>
			<div align="center">
				<a href="javascript:;"><img src="../images/logo.png" alt="韩国SNP官网"></a>
			</div>
			<p class="bottom_nav"></p>
			<p class="copyright">© 2018 韩国SNP面膜官网&nbsp;版权所有&nbsp;&nbsp;</p>
		</div>
	</div>
</div>
