*{
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}
ul li{list-style: none;}

/*header*/
#header{
	width: 100%;
	height: 110px;
	background:url(../images/header_bg.png) repeat-x 0 bottom;
}
#header .content{
	width: 980px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
#header .content .logo{
	width: 200px;
	height: 70px;
	float: left;
	margin: 20px 0 0 20px;
}
#header .content .header_right{
	width: 760px;
	height: 97px;
	float: right;
}
#header .content .header_right .top{
	width: 760px;
	height: 20px;
	margin: 5px 0;
}
#header .content .header_right .top ul li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	background: url(../images/dot_spacer.gif) no-repeat right center;
}
#header .content .header_right .top ul li a{
	color: #444444;
}
#header .content .header_right .top ul li:hover a{
	color: #ff6600;
}
#header .content .header_right .top ul li:first-child{
	padding-left: 0;
}
#header .content .header_right .top ul li:last-child{
	background:none;
}
#header .content .header_right .top_cearch{
	float: left;
    position: relative;
    height: 38px;
    width: 500px;
    overflow: hidden;
    background: url(../images/search_bg.gif) repeat-x 0 0;
}
#header .content .header_right .top_cearch .cearch{
	height: 26px;
    padding: 6px 74px 6px 6px;
    background: transparent url(../images/search_bg.gif) no-repeat 0 -38px;
}
#header .content .header_right .top_cearch .cearch .int{
	height: 26px;
    width: 100%;
    padding: 0;
    color: #999;
    font-size: 14px;
    line-height: 26px;
    border: none;
}
#header .content .header_right .top_cearch .cearch .btn{
	position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 68px;
    padding: 0;
    text-indent: -999em;
    background: #666 url(../images/search_bg.gif) no-repeat 0 -76px;
    border-width: 0;
    text-shadow: none;
}
#header .content .header_right .cat{
	width: 200px;
	height: 25px;
	float: right;
	line-height:25px;
}
#header .content .header_right .cat p{
	float: left;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 5px;


}
#header .content .header_right .cat p a{
	color: #444444;
}
#header .content .header_right .cat p:nth-child(1):hover a{
	color: #ff6600;
	text-decoration: underline;
}
#header .content .header_right .cat p:nth-child(2):hover a{
	color: #ff6600;
	text-decoration: underline;
}
#header .content .header_right .cat p:nth-child(3):hover a{
	color: #ff6600;
}
#header .content .header_right .cat p:last-child span{
	width: 24px;
	height: 24px;
	float: left;
	margin-right: 5px;
}
#header .content .header_right .main_nav{
	float: left;
    width: 760px;
    margin-top: 10px;
}
#header .content .header_right .main_nav .nav li{
	float: left;
	padding-right: 20px;
    position: relative;
    font-size: 12px;
}
#header .content .header_right .main_nav .nav li a{
	color: #444444;
}
#header .content .header_right .main_nav .nav li:hover a{
	color: #ff6600;
}
/*#header .content .all_wrapper{
	position: absolute;
    left: 0;
    top: 82px;
    height: 28px;
    width: 200px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background:#ffffff;
    display: block;
}
#header .content .all_wrapper>a{
	color:#444444;
	display: block;
    height: 21px;
    width: 200px;
    text-indent: -999em;
   	background: url(../images/all_cat.gif) no-repeat 0 -21px;
    color: #444;
    text-decoration: none;
    outline: none;
}

#header .content .all_wrapper ul li a{
	color:#444444;
	cursor: pointer;
	text-align: center;
}
#header .content .all_wrapper ul{
	display: block;
    font-size: 12px;
    border:2px solid #464646;
}
#header .content .all_wrapper ul li{
	width: 80%;
	display: list-item;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    border-bottom: 1px solid #eeeeee;
    margin-left: 10px;
}
#header .content .all_wrapper ul li:nth-child(1){
	margin-top: 5px;
}*/