.main_content .detail .left .left_top #box{
	/*border:1px solid black;*/
	width: 350px;
	height: 350px;
	position: relative;
}
.main_content .detail .left .left_top #box #zoom{
	width: 150px;
	height: 150px;
	background: rgba(255,234,6,0.5);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.main_content .detail .left .left_top #bigimg{
	width: 600px;
	height: 450px;
	position: absolute;
	overflow: hidden;
	left: 540px;
	top: 154px;
	display: none;
}
.main_content .detail .left .left_top #bigimg img{
	position: absolute;
	top: 0;
	left: 0;
}
